
form {
    margin-top: 20px;
}

.options {
    margin-top: 20px;
}

.options a {
    margin-right: 20px;
    text-decoration: none;
    color: blue;
}

.options a:hover {
    text-decoration: underline;
}